<app-home1></app-home1>
<section class="section" id="services" style="padding-top: 200px">
  <div class="container">
    <div class="row">
      <div class="owl-carousel owl-theme">
        <div class="item service-item">
          <textarea name="w3review" rows="10" cols="150" style="border: none"> hrown by the JVM when an attempt is made to cast something to a subclass of which it is not an instance
            RuntimeException
            String type = "moose";
            Integer number = (Integer) type; // DOES NOT COMPILE
            More complicated code thwarts Java's attempts to protect you. When the cast fails at runtime, Java will throw a ClassCastException:
            String type = "moose";
            Object obj = type;
            Integer number = (Integer) obj;
            The compiler sees a cast from Object to Integer. This could be okay. The compiler doesn't realize there's a String in that Object.</textarea>
         <input type="radio"><label>The ADD_THEATER procedure is written in SQL.</label><br>
         <input type="radio"><label>The ADD_THEATER procedure is written in SQL.</label><br>
         <input type="radio"><label>The ADD_THEATER procedure is written in SQL.</label><br>
         <input type="radio"><label>The ADD_THEATER procedure is written in SQL.</label>
        </div>
        <div class="item service-item">
          <textarea name="w3review" rows="10" cols="150" style="border: none"> hrown by the JVM when an attempt is made to cast something to a subclass of which it is not an instance
            RuntimeException
            String type = "moose";
            Integer number = (Integer) type; // DOES NOT COMPILE
            More complicated code thwarts Java's attempts to protect you. When the cast fails at runtime, Java will throw a ClassCastException:
            String type = "moose";
            Object obj = type;
            Integer number = (Integer) obj;
            The compiler sees a cast from Object to Integer. This could be okay. The compiler doesn't realize there's a String in that Object.</textarea>
          <input type="radio"><label>The ADD_THEATER procedure is written in SQL.</label><br>
          <input type="radio"><label>The ADD_THEATER procedure is written in SQL.</label><br>
          <input type="radio"><label>The ADD_THEATER procedure is written in SQL.</label><br>
          <input type="radio"><label>The ADD_THEATER procedure is written in SQL.</label>
        </div>
        <div class="item service-item">
          <textarea name="w3review" rows="10" cols="150" style="border: none"> hrown by the JVM when an attempt is made to cast something to a subclass of which it is not an instance
            RuntimeException
            String type = "moose";
            Integer number = (Integer) type; // DOES NOT COMPILE
            More complicated code thwarts Java's attempts to protect you. When the cast fails at runtime, Java will throw a ClassCastException:
            String type = "moose";
            Object obj = type;
            Integer number = (Integer) obj;
            The compiler sees a cast from Object to Integer. This could be okay. The compiler doesn't realize there's a String in that Object.</textarea>
          <input type="radio"><label>The ADD_THEATER procedure is written in SQL.</label><br>
          <input type="radio"><label>The ADD_THEATER procedure is written in SQL.</label><br>
          <input type="radio"><label>The ADD_THEATER procedure is written in SQL.</label><br>
          <input type="radio"><label>The ADD_THEATER procedure is written in SQL.</label>
        </div>
        <div class="item service-item">
           <textarea name="w3review" rows="10" cols="150" style="border: none"> hrown by the JVM when an attempt is made to cast something to a subclass of which it is not an instance
            RuntimeException
            String type = "moose";
            Integer number = (Integer) type; // DOES NOT COMPILE
            More complicated code thwarts Java's attempts to protect you. When the cast fails at runtime, Java will throw a ClassCastException:
            String type = "moose";
            Object obj = type;
            Integer number = (Integer) obj;
            The compiler sees a cast from Object to Integer. This could be okay. The compiler doesn't realize there's a String in that Object.</textarea>
          <input type="radio"><label>The ADD_THEATER procedure is written in SQL.</label><br>
          <input type="radio"><label>The ADD_THEATER procedure is written in SQL.</label><br>
          <input type="radio"><label>The ADD_THEATER procedure is written in SQL.</label><br>
          <input type="radio"><label>The ADD_THEATER procedure is written in SQL.</label>
        </div>
        <div class="item service-item">
          <textarea name="w3review" rows="10" cols="150" style="border: none"> hrown by the JVM when an attempt is made to cast something to a subclass of which it is not an instance
            RuntimeException
            String type = "moose";
            Integer number = (Integer) type; // DOES NOT COMPILE
            More complicated code thwarts Java's attempts to protect you. When the cast fails at runtime, Java will throw a ClassCastException:
            String type = "moose";
            Object obj = type;
            Integer number = (Integer) obj;
            The compiler sees a cast from Object to Integer. This could be okay. The compiler doesn't realize there's a String in that Object.</textarea>
          <input type="radio"><label>The ADD_THEATER procedure is written in SQL.</label><br>
          <input type="radio"><label>The ADD_THEATER procedure is written in SQL.</label><br>
          <input type="radio"><label>The ADD_THEATER procedure is written in SQL.</label><br>
          <input type="radio"><label>The ADD_THEATER procedure is written in SQL.</label>
        </div>
        <div class="item service-item">
          <textarea name="w3review" rows="10" cols="150" style="border: none"> hrown by the JVM when an attempt is made to cast something to a subclass of which it is not an instance
            RuntimeException
            String type = "moose";
            Integer number = (Integer) type; // DOES NOT COMPILE
            More complicated code thwarts Java's attempts to protect you. When the cast fails at runtime, Java will throw a ClassCastException:
            String type = "moose";
            Object obj = type;
            Integer number = (Integer) obj;
            The compiler sees a cast from Object to Integer. This could be okay. The compiler doesn't realize there's a String in that Object.</textarea>
          <input type="radio"><label>The ADD_THEATER procedure is written in SQL.</label><br>
          <input type="radio"><label>The ADD_THEATER procedure is written in SQL.</label><br>
          <input type="radio"><label>The ADD_THEATER procedure is written in SQL.</label><br>
          <input type="radio"><label>The ADD_THEATER procedure is written in SQL.</label>
        </div>
        <div class="item service-item">
          <textarea name="w3review" rows="10" cols="150" style="border: none"> hrown by the JVM when an attempt is made to cast something to a subclass of which it is not an instance
            RuntimeException
            String type = "moose";
            Integer number = (Integer) type; // DOES NOT COMPILE
            More complicated code thwarts Java's attempts to protect you. When the cast fails at runtime, Java will throw a ClassCastException:
            String type = "moose";
            Object obj = type;
            Integer number = (Integer) obj;
            The compiler sees a cast from Object to Integer. This could be okay. The compiler doesn't realize there's a String in that Object.</textarea>
          <input type="radio"><label>The ADD_THEATER procedure is written in SQL.</label><br>
          <input type="radio"><label>The ADD_THEATER procedure is written in SQL.</label><br>
          <input type="radio"><label>The ADD_THEATER procedure is written in SQL.</label><br>
          <input type="radio"><label>The ADD_THEATER procedure is written in SQL.</label>
        </div>
      </div>
    </div>
  </div>
</section>
