
<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="heading-section mb-5">QUIZ</h2>
      </div>
      <div class="col-md-12">
        <div class=" owl-carousel">
          <div class="item">
            <div class="work-wrap d-md-flex">
              <div class="img order-md-last">
               <div class="row">
                 <div class="col-md-4">
                   <span>A:</span>
                   <input type="checkbox">
                  <span> <input type="text"></span>
                 </div>
                 <div class="col-md-4"></div>
                 <div class="col-md-4"></div>
               </div>
              </div>
              <div class="text text-left text-lg-right p-4 px-xl-5 d-flex align-items-center">
                <div class="desc w-100">
                  <h2 class="mb-4">Question:1</h2>
                  <p class="mb-4">Call:0985978032</p>
                  <p class="h5 mb-4">Email Address: email@info.com</p>
                  <div class="row justify-content-end">
                    <div class="col-xl-8">
                      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="work-wrap d-md-flex">
              <div class="img order-md-last" style="background-image: url(../../assets/question/images/work-2.jpg);"></div>
              <div class="text text-left text-lg-right p-4 px-xl-5 d-flex align-items-center">
                <div class="py-md-5">
                  <h2 class="mb-4">Question:2</h2>
                  <p class="mb-4">Call:0985978033</p>
                  <p class="h5 mb-4">Email Address: email@info.com</p>
                  <div class="row justify-content-end">
                    <div class="col-xl-8">
                      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="work-wrap d-md-flex">
              <div class="img order-md-last" style="background-image: url(../../assets/question/images/work-3.jpg);"></div>
              <div class="text text-left text-lg-right p-4 px-xl-5 d-flex align-items-center">
                <div class="py-md-5">
                  <h2 class="mb-4">Question:3</h2>
                  <p class="h5">Call: 0123 456 78901</p>
                  <p class="h5 mb-4">Email Address: email@info.com</p>
                  <div class="row justify-content-end">
                    <div class="col-xl-8">
                      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="work-wrap d-md-flex">
              <div class="img order-md-last" style="background-image: url(../../assets/question/images/work-3.jpg);"></div>
              <div class="text text-left text-lg-right p-4 px-xl-5 d-flex align-items-center">
                <div class="py-md-5">
                  <h2 class="mb-4">Question:4</h2>
                  <p class="h5">Call: 0123 456 78901</p>
                  <p class="h5 mb-4">Email Address: email@info.com</p>
                  <div class="row justify-content-end">
                    <div class="col-xl-8">
                      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="work-wrap d-md-flex">
              <div class="img order-md-last" style="background-image: url(../../assets/question/images/work-3.jpg);"></div>
              <div class="text text-left text-lg-right p-4 px-xl-5 d-flex align-items-center">
                <div class="py-md-5">
                  <h2 class="mb-4">Question:5</h2>
                  <p class="h5">Call: 0123 456 78901</p>
                  <p class="h5 mb-4">Email Address: email@info.com</p>
                  <div class="row justify-content-end">
                    <div class="col-xl-8">
                      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="work-wrap d-md-flex">
              <div class="img order-md-last" style="background-image: url(../../assets/question/images/work-3.jpg);"></div>
              <div class="text text-left text-lg-right p-4 px-xl-5 d-flex align-items-center">
                <div class="py-md-5">
                  <h2 class="mb-4">Question:6</h2>
                  <p class="h5">Call: 0123 456 78901</p>
                  <p class="h5 mb-4">Email Address: email@info.com</p>
                  <div class="row justify-content-end">
                    <div class="col-xl-8">
                      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="work-wrap d-md-flex">
              <div class="img order-md-last" style="background-image: url(../../assets/question/images/work-4.jpg);"></div>
              <div class="text text-left text-lg-right p-4 px-xl-5 d-flex align-items-center">
                <div class="py-md-5">
                  <h2 class="mb-4">Question:7</h2>
                  <p class="h5">Call: 0123 456 78901</p>
                  <p class="h5 mb-4">Email Address: email@info.com</p>
                  <div class="row justify-content-end">
                    <div class="col-xl-8">
                      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                  </div>
                  <p>
                    <button type="button" class="btn btn-outline-dark mb-2 py-3 px-4">Shop the collection Outline</button>
                    <button type="button" class="btn btn-dark mb-2 py-3 px-4">Learn More</button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<section class="section" id="services">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="owl-carousel owl-theme">-->
<!--        <div class="item service-item" tabindex="-1">-->
<!--          <div class="icon">-->
<!--            <i><img src="assets/images/service-icon-01.png" alt=""></i>-->
<!--          </div>-->
<!--          <h5 class="service-title">First Box Service</h5>-->
<!--          <p>Aenean vulputate massa sed neque consectetur, ac fringilla quam aliquet. Sed a enim nec eros tempor cursus at id libero.</p>-->
<!--          <a href="#" class="main-button">Read More</a>-->
<!--        </div>-->
<!--        <div class="item service-item">-->
<!--          <div class="icon">-->
<!--            <i><img src="assets/images/service-icon-02.png" alt=""></i>-->
<!--          </div>-->
<!--          <h5 class="service-title">Second Box Title</h5>-->
<!--          <p>Pellentesque vitae urna ut nisi viverra tristique quis at dolor. In non sodales dolor, id egestas quam. Aliquam erat volutpat. </p>-->
<!--          <a href="#" class="main-button">Discover More</a>-->
<!--        </div>-->
<!--        <div class="item service-item">-->
<!--          <div class="icon">-->
<!--            <i><img src="assets/images/service-icon-03.png" alt=""></i>-->
<!--          </div>-->
<!--          <h5 class="service-title">Third Title Box</h5>-->
<!--          <p>Quisque finibus libero augue, in ultrices quam dictum id. Aliquam quis tellus sit amet urna tincidunt bibendum.</p>-->
<!--          <a href="#" class="main-button">More Detail</a>-->
<!--        </div>-->
<!--        <div class="item service-item">-->
<!--          <div class="icon">-->
<!--            <i><img src="assets/images/service-icon-02.png" alt=""></i>-->
<!--          </div>-->
<!--          <h5 class="service-title">Fourth Service Box</h5>-->
<!--          <p>Fusce sollicitudin feugiat risus, tempus faucibus arcu blandit nec. Duis auctor dolor eu scelerisque vestibulum.</p>-->
<!--          <a href="#" class="main-button">Read More</a>-->
<!--        </div>-->
<!--        <div class="item service-item">-->
<!--          <div class="icon">-->
<!--            <i><img src="assets/images/service-icon-01.png" alt=""></i>-->
<!--          </div>-->
<!--          <h5 class="service-title">Fifth Service Title</h5>-->
<!--          <p>Curabitur aliquam eget tellus id porta. Proin justo sapien, posuere suscipit tortor in, fermentum mattis elit.</p>-->
<!--          <a href="#" class="main-button">Discover</a>-->
<!--        </div>-->
<!--        <div class="item service-item">-->
<!--          <div class="icon">-->
<!--            <i><img src="assets/images/service-icon-03.png" alt=""></i>-->
<!--          </div>-->
<!--          <h5 class="service-title">Sixth Box Title</h5>-->
<!--          <p>Ut nibh velit, aliquam vitae pellentesque nec, convallis vitae lacus. Aliquam porttitor urna ut pellentesque.</p>-->
<!--          <a href="#" class="main-button">Detail</a>-->
<!--        </div>-->
<!--        <div class="item service-item">-->
<!--          <div class="icon">-->
<!--            <i><img src="assets/images/service-icon-01.png" alt=""></i>-->
<!--          </div>-->
<!--          <h5 class="service-title">Seventh Title Box</h5>-->
<!--          <p>Sed a consequat velit. Morbi lectus sapien, vestibulum et sapien sit amet, ultrices malesuada odio. Donec non quam.</p>-->
<!--          <a href="#" class="main-button">Read More</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
