<div class="row">
  <div class="col-lg-3">
    <div id="sideBar">
      <div style="padding: 16px;">
        <div class="card" id="theme">

          <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action active" style="cursor: default;">
              Topic
            </button>
            <button style="cursor: default" type="button"
                    class="list-group-item d-flex justify-content-between list-group-item-action"
                    *ngFor="let s of topic">
              <a [routerLink]="['/questions/level/', s.id]">{{s.name}} </a>
            </button>

            <button type="button" class="list-group-item list-group-item-action active"
                    style="text-align: center;" (click)="addTopic()">Add Topic
            </button>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="openCreateForm">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h1>NEW TOPIC</h1>
          <form #topicForm="ngForm" (ngSubmit)="addTopicNew(topicForm)">
            <div class="row">
              <div class="col-md-3">
                <label>Topic Name</label>
              </div>
              <div class="col-md-9">
                <input [(ngModel)]="t.id" type="hidden" class="form-control" name="id" id="id">
                <input [(ngModel)]="t.name" type="text" class="form-control" id="name" name="name">
              </div>
            </div>
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <input type="submit" value="Add">
              </div>
              <div class="col-md-3"></div>
            </div>
          </form>
        </div>
        <div class="col-md-3"></div>
      </div>

      <div style="padding: 16px;">
        <div class="card">

          <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action active" style="cursor: default;">
              Level
            </button>
            <button style="cursor: default" type="button"
                    class="list-group-item d-flex justify-content-between list-group-item-action"
                    *ngFor="let a of l">
              <a [routerLink]="['/admin/question/', a.id]">{{a.difficulty}} </a>
            </button>

            <button type="button" class="list-group-item list-group-item-action active"
                    style="text-align: center;">Choose Level
            </button>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-outline-danger" style="margin-left: 20px;">Logout</button>

    </div>
  </div>
  <div class="col-lg-9">
  </div>
</div>
